
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.sdf
*.ipch
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.ipch
*.sdf
*.opensdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
nms/nms_GL/gl_map
#Ignore debug logs
MatrixDebug.txt
*Log.txt
#Ignore backups
*.orig
nms/nms_GL.opensdf
nms/nms_test/Matrix4x4Debug.txt
nms/nms_test/NMS_DebugLog.txt
nms/nms_test/NMS_DebugLog.txt
nms/nms_test/NMS_ErrorLog.txt